<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/keyboard_events.css"></link>
    <title>Keybords Events</title>
</head>
<body>
    <section id="session12" class="section">
        <h3>Keyboard Events</h3>
        <h4>Only for PC</h4>
        <p>Left click on black area to start moving the ball with the arrows of your keyboard</p>
        <article class="stage">
          <div class="ball"></div>
        </article>
      </section> 
    <script src="../public/scripts/sessions_scripts_exports/keyboard_events.js"></script>
</body>
</html>