<main>
  <h1>Wordpress REST API</h1>
  <article id="site" class="site"></article>
  <section id="posts" class="posts"></section>
  <div class="loader"></div>
  <template id="post-template">
    <article class="post">
      <img src="" alt="" class="post-image" />
      <aside>
        <h2 class="post-title"></h2>
        <figure class="post-author"></figure>
        <small class="post-date"></small>
        <a target="_blank" href="" class="post-link"
          >Ver publicación original</a
        >
        <p class="post-excerpt"></p>
        <div class="post-categories"></div>
        <div class="post-tags"></div>
        <details class="post-content">
          <summary>Ver contenido de la publicación</summary>
          <article></article>
        </details>
      </aside>
    </article>
    <hr />
  </template>
</main>
