<main>
    <h1 class="encabezado">WEB DEVELOPMENT SERVICES</h1>
    <section id="web-services" class="web-services">
        <template id="service-template">
            <figure class="service">
                <img>
                <figcaption></figcaption>
            </figure>
        </template>
    </section>  
</main>








